div.page-header{
	text-align: center;
	color: orange;
}

.areatexto{
	width: 100%;
	margin-bottom: 2%;
}

.tachar{
	text-decoration: line-through;
}

.lista{
    padding: 1%;
    margin-top: 2%;
    border-radius: 4px;
}

.trash{
	float: right;
}

.caja{
	overflow-y: auto;
	height: 200px;
	margin-top: 2%;
}