.none{
	display: none;
}

.tachar{
	text-decoration: line-through;
}

.navbar-default .navbar-brand {
    color: #1ABC9C ;
}

.btn-primary{
	background-color: #1ABC9C;
	border-color:#1ABC9C;
}

.btn-primary[disabled]:hover{
	background-color: #1ABC9C;
	border-color:#1ABC9C;
}	

label{
	 color: #F39C12;
}